@import '~sass/abstracts/variables';

/**
 * 
 */
 :host(app-frame) {
    display: grid;
    grid-template-columns: [start col-1] 1fr [end];
    grid-template-rows: [start row-1] auto [row-2] 1fr [end];
    height: 100%;
    border: $frame-border;
    box-shadow: $frame-shadow;
    /**
    * 
    */
    > .header {
        display: grid;
        grid-template-columns: [start col-1] 1fr [end];
        grid-template-rows: [start row-1] auto [row-2] auto [end];
        background-color: $header-backgraund-color;
        // backdrop-filter: blur(5px);
        -webkit-app-region: drag;
        user-select: none;
        border-bottom: $frame-border-bottom;
        /**
        * 
        */
        > .top {
            display: grid;
            grid-template-columns: [start col-1] 112px [col-2] 1fr [col-3] 112px [end];
            grid-template-rows: [start row-1] auto [end];
            /**
            * 
            */
            > .left {
                grid-column: col-1;
            }
            /**
            * 
            */
            > .center {
                grid-column: col-2;
            }
            /**
            * 
            */
            > .right {
                grid-column: col-3;
                text-align: right;
                /**
                * 
                */
                > .options {
                    display: inline-flex;
                    > li {
                        > i {
                            -webkit-app-region: no-drag;
                        }
                    }
                }
            }
        }
        /**
        * 
        */
        > .bottom {
            grid-column: start / end;
        }
        /**
         * 
         */
        > .divider {
            border-bottom: $frame-border-bottom;
        }
    }
}

/**
* 
*/
.header-detail {
    border-bottom: $frame-border-bottom;
    height: 10px;
    /**
    * 
    */
    &::before {
        left: 105px;
        top: 0px;
        transform: rotate(45deg);
    }
    /**
    * 
    */
    &::after {
        right: 105px;
        top: 0px;
        transform: rotate(-45deg);
    }
    /**
    * 
    */
    &::before, &::after {
        width: 12px;
        height: 8px;
        content: '';
        position: absolute;
        // bottom: 0;
        border-bottom: $frame-border-bottom;
    }
}