<nav class="header">
  <div class="top">
    <div class="left"></div>
    <div class="center">
      <div class="header-detail">
        <div [ngClass]="{'selected': focus}"></div>
      </div>
    </div>
    <div class="right">
      <ul class="options">
        <li class="option" (click)="minimize()">
          <i class="fa fa-window-minimize" aria-hidden="true"></i>
        </li>
        <li class="option" (click)="resize()">
          <i class="fa fa-window-maximize" aria-hidden="true"></i>
        </li>
        <li class="option" (click)="close()">
          <i class="fa fa-times" aria-hidden="true"></i>
        </li>
      </ul>
    </div>
  </div>
  <div class="bottom">
    <ng-content select="[frame-header]"></ng-content>
  </div>
</nav>
<ng-content select="[frame-content]"></ng-content>
  