// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
  user-select: none;
  cursor: default;
}

/**
 * Basic styles for lists
 */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/**
 * Application background
 */
.background {
    background-color: $background-color;
    background-position: top center;
    background-repeat: no-repeat;
    // background-image: url("assets/img/background.png");
}

/**
 *
 */
.hidden {
  display: none !important;
}

/**
 *
 */
a,
img {
  -webkit-user-drag: none;
}

button {
  &:focus {
    outline: none;
  }
}