// -----------------------------------------------------------------------------
// This file contains all application-wide typography styles.
// -----------------------------------------------------------------------------

/**
 * 
 */
body {
  color: $white-50;
  // font-style: ;
  // font-variant: ;
  // font-weight: 400;
  font-size: 1rem;
  // line-height: ;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

/**
 * 
 */
.selected {
  color: $white-80;
}

/**
 * 
 */
.disabled {
  color: $white-20;
}
