// -----------------------------------------------------------------------------
// This file contains all application-wide typography styles.
// -----------------------------------------------------------------------------

/**
 * 
 */
body {
  color: $white-50;
  // font-style: ;
  // font-variant: ;
  // font-weight: ;
  font-size: 0.80rem;
  // line-height: ;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

/**
 * 
 */
.selected {
  color: $white !important;
}

/**
 * 
 */
.disabled {
  color: $white-20 !important;
  pointer-events: none;
}
