<nav class="main-menu">
  <div class="app-options">
    <ul>
      <li class="config">
        <img [src]="logo" title="logo"/>
        <i class="fa fa-angle-down"></i>
      </li>
      <li class="option" (click)="selectItem('games')">
        <a [ngClass]="{'selected': itemSelected == 'games'}" routerLink="/games">Juegos</a>
      </li>
      <li class="option disabled" (click)="selectItem('social')">
        <a [ngClass]="{'selected': itemSelected == 'social'}" routerLink="/social">Social</a>
      </li>
      <li class="option" (click)="selectItem('news')">
        <a [ngClass]="{'selected': itemSelected == 'news'}" routerLink="/news">Noticias</a>
      </li>
      <li class="option disabled" (click)="selectItem('achievements')">
        <a [ngClass]="{'selected': itemSelected == 'achievements'}" routerLink="/achievements">Logros</a>
      </li>
    </ul>
  </div>
  <div class="user-options">
    <div class="login">
      <button class="yellow sm">Conectarse</button>
    </div>
    <ul>
      <!-- <li> -->
        <!-- <a> -->
          <!-- <img src="http://vignette3.wikia.nocookie.net/wowwiki/images/e/e2/Ragnaros_the_Firelord.png/revision/latest?cb=20110617044003" class="avatar" /> -->
          <!-- <img src="" class="avatar" /> -->
          <!-- <div class="user"> {{ user.username }} </div> -->
        <!-- </a> -->
      <!-- </li> -->
      <li style="width: 88px;">
        <div class="avatar">
          <img [src]="avatar" title="avatar">
        </div>
        <a class="user">
          {{ user.username }}
          <i class="fa fa-angle-down"></i>
        </a>
      </li>
      <li style="width: 44px;">
        <a><i class="fa fa-video-camera"></i></a>
      </li>
      <li style="width: 54px;">
        <a><i class="fa fa-user"></i></a>
      </li>
    </ul>
  </div>
</nav>
