@import '~sass/abstracts/variables';

nav {
    > ul {
        display: inline-flex;
        cursor: default;
        margin: 0px 12px 7px 16px;
        > li {
            font-size: 1.30rem;
            -webkit-app-region: no-drag;
            text-transform: uppercase;
            color: $white-40;
            &:hover {
                color: $white-80;
            }
            &.config {
                padding: 0 25px 0 2px;
                &:hover {
                    // text-shadow: 0 0 20px $white;
                }
                > img {
                    // height: 10px;
                    // width: 10px;
                    background-size: contain;
                    vertical-align: middle;
                }
                > i {
                    // padding: 0 5px;
                }
            }
            &.option {
                margin: 10px;
                line-height: 1;
            }
            > a {
                cursor: default;
                transition: color 0.5s;
                &.selected {
                    text-shadow: 0 0 20px $white;
                }
            }
        }
    }
}