<div class="sidebar">
  <ul>
    <li>World of Warcraft - Classic</li>
    <li>World of Warcraft - The Burning Crusade</li>
    <li>World of Warcraft - Wrath of the Lich King</li>
    <li>World of Warcraft - Cataclysm</li>
    <li>World of Warcraft - Mists of Pandaria</li>
    <li>World of Warcraft - Warlords of Draenor</li>
    <li>World of Warcraft - Legion</li>
    <li>World of Warcraft - Battle for Azeroth</li>
  </ul>
</div>
<div class="main">
  cuerpo
  <ul>
    <li>
      imagen configuracion
    </li>
    <li>
      añadir app
    </li>
  </ul>
</div>
