@import '~sass/abstracts/variables';

/**
* 
*/
:host(app-games) {
    display: grid;
    grid-template-columns: [start col-1] auto [col-2] 1fr [end];
    grid-template-rows: [start row-1] 1fr [end];
    /**
    * 
    */
    > .sidebar {
        grid-column: col-1;
        border-right: $frame-border-right;
        background-color: $sidebar-background-color;
        /**
        * 
        */
        > .games {
            /**
            * 
            */
            > .game {
                font-size: 14px;
                color: rgba(255, 255, 255, 0.5);
                padding: 12px 20px;
                /**
                * 
                */
                &:hover {
                    background-color: rgba(255, 255, 255, 0.05);
                }
                /**
                * 
                */
                &:focus {
                    background-color: rgba(255, 255, 255, 0.1);
                    border-left: 3px solid rgba(255, 255, 255, 0.8);
                }
                /**
                * 
                */
                &:hover, &:focus {
                    color: rgba(255, 255, 255, 0.8);
                }
            }
        }
    }
    /**
    * 
    */
    > .main {
        grid-column: col-2;
    }
}
