<div class="sidebar"
  [@show]="state" (@show.start)="showStart($event)" (@show.done)="showDone($event)"
  [@hide]="state" (@hide.start)="hideStart($event)" (@hide.done)="hideDone($event)">
  <div class="categories">
    <div *ngFor="let category of games.categories" class="category">
      <div class="title" [ngClass]="{'hide': !visibleTitles}">
        <span *ngIf="visibleTitles">{{ category.name }}</span>
      </div>
      <ul>
        <li *ngFor="let game of category.games" [ngClass]="{'selected': game.active}" (click)="selectItem(game)">
          <div class="game">
            <img [src]="game.icon" />
            <a *ngIf="visibleNames">{{ game.name }}</a>
            <div *ngIf="!game.update.updated" class="download">
              <div class="state" [ngClass]="game.update.state"></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer" (click)="toggle()">
    <i [ngClass]="{'hidden': !visible}" class="fa fa-chevron-left hide"></i>
    <i [ngClass]="{'hidden': visible}" class="fa fa-chevron-right show"></i>
  </div>
</div>
<div class="main">
  <img [src]="activeGame.logo" />
  <ul class="options">
    <li>
      <a class="white"><i class="fa fa-cog"></i>Opciones<i class="fa fa-angle-down"></i></a>
    </li>
    <li>
      <a class="white"><i class="fa fa-file-text"></i>Notas de Parche</a>
    </li>
    <li>
      <a class="white"><i class="fa fa-bug"></i>Bugtracker</a>
    </li>
    <li>
      <a class="white"><i class="fa fa-comments"></i>Foro<i class="fa fa-external-link small"></i></a>
    </li>
  </ul>
  <div class="news">
    <div class="new slider">slider</div>
    <div class="new">maintenance</div>
    <div class="new">advertisement</div>
    <div class="new">social</div>
    <div class="new">new</div>
  </div>
  <div class="play">
    <button data-tooltip="Jugar" data-tooltip-position="right" class="yellow large" [ngClass]="{'disabled': activeGame.path == ''}" (click)="execute(activeGame.path)">
    <!-- <button class="yellow large has-tooltip" [ngClass]="{'disabled': activeGame.path == ''}" (click)="execute(activeGame.path)"> -->
      <!-- <div class="tooltip right">
        <div class="tooltip-arrow"></div>
        <div class="tooltip-content">
          <span class="tooltip-label">Jugar a {{ activeGame.name }}</span>
        </div>
      </div> -->
      Jugar
    </button>
    <div *ngIf="activeGame.update.updated && activeGame.version != ''" class="version">Versión {{ activeGame.version }}.</div>
    <div *ngIf="!activeGame.update.updated" class="download">
      <div class="progressbar">
        <div class="label">
          En pausa. Se guardará el progreso si sales.
          En pausa. Se guardará el progreso si sales.
          En pausa. Se guardará el progreso si sales.
        </div>
        <!-- <div class="state"></div> -->
      </div>
      <button class="start dark small"><i class="fa fa-play"></i></button>
      <button class="options dark small"><i class="fa fa-cog"></i></button>
    </div>
  </div>
</div>
