@import '~sass/abstracts/variables';

/**
* 
*/
:host(app-games) {
    display: grid;
    grid-template-columns: [start col-1] auto [col-2] 1fr [end];
    grid-template-rows: [start row-1] 1fr [end];
    /**
    * 
    */
    > .sidebar {
        grid-column: col-1;

        border-right: $frame-border-right;
        background-color: $sidebar-background-color;
        color: $white-50;

        display: grid;
        grid-template-columns: [start col-1] auto [col-2];
        grid-template-rows: [start row-1] 1fr [row-2] auto [row-3];
        /**
        * 
        */
        > .categories {
            padding: 5px 0;
            overflow: auto;
            height: calc(100vh - 30px - 96px);
            /**
            * 
            */
            > .category {
                padding: 20px 0 0 0;
                user-select: none;
                /**
                * 
                */
                > .title {
                    margin: 0 18px;
                    padding: 2px 0 3px 0;
                    border-top: 1px solid transparent;
                    color: $white;
                    text-transform: uppercase;
                    &.hide {
                        color: transparent;
                        border-top: 1px solid $white-20;
                        // min-height: 20px;
                    }
                }
                /**
                * 
                */
                > ul {
                    cursor: default;
                    /**
                    * 
                    */
                    > li {
                        display: flex;
                        align-items: center;
                        padding: 8px 19px;
                        border-left: 3px solid transparent;
                        /**
                        * 
                        */
                        &:hover {
                            background-color: rgba(255, 255, 255, 0.05);
                            color: $white-80;
                        }
                        /**
                        * 
                        */
                        &:focus,
                        &:active {
                            color: $white;
                            background-color: $white-10;
                            border-left: 3px solid $white;
                        }
                        > img {
                            height: 28px;
                            width: 28px;
                            background-size: contain;
                        }
                        > a {
                            margin-left: 9px;
                            cursor: default;
                            transition: none;
                        }
                    }
                }
            }
        }
        > .footer {
            padding: 12px 20px;
            border-top: 1px solid $white-10;
        }
    }
    /**
    * 
    */
    > .main {
        grid-column: col-2;
    }
}
