@import '~sass/abstracts/variables';

/**
* 
*/
:host(app-games) {
    display: grid;
    grid-template-columns: [start col-1] auto [col-2] 1fr [end];
    grid-template-rows: [start row-1] 1fr [end];
    /**
    * 
    */
    > .sidebar {
        grid-column: col-1;

        border-right: $frame-border-right;
        background-color: $sidebar-background-color;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.5);

        display: grid;
        grid-template-columns: [start col-1] auto [col-2];
        grid-template-rows: [start row-1] 1fr [row-2] auto [row-3];
        /**
        * 
        */
        > .categories {
            padding-top: 5px;
            overflow: auto;
            height: calc(100vh - 30px - 96px);
            /**
            * 
            */
            > .category {
                padding: 21px 0 0;
                cursor: default;
                user-select: none;
                /**
                * 
                */
                > .title {
                    padding: 0 20px;
                    color: $white-80;
                }
                /**
                * 
                */
                > .games {
                    /**
                    * 
                    */
                    > .game {
                        padding: 13px 20px 12px 20px;
                        border-left: 3px solid transparent;
                        /**
                        * 
                        */
                        &:hover {
                            background-color: rgba(255, 255, 255, 0.05);
                            border-left: 3px solid rgba(255,255,255,0.5);
                        }
                        /**
                        * 
                        */
                        &:hover, &:focus {
                            color: rgba(255, 255, 255, 0.8);
                        }
                        /**
                        * 
                        */
                        &:focus,
                        &:active {
                            background-color: rgba(255, 255, 255, 0.1);
                            border-left: 3px solid rgba(255, 255, 255, 0.8);
                        }
                    }
                }
            }
        }
        > .footer {
            padding: 12px 20px;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
        }
    }
    /**
    * 
    */
    > .main {
        grid-column: col-2;
    }
}
