// -----------------------------------------------------------------------------
// This file contains all styles related to the link component.
// -----------------------------------------------------------------------------

/**
 * 
 */
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  /*
    *
    */
  &.white {
    color: $white-80;
    &:hover,
    &:active,
    &:focus {
      color: $white;
    }
  }
  /*
    *
    */
  &.yellow {
      color: $yellow-80;
      &:hover,
      &:active,
      &:focus {
        color: $yellow;
      }
  }
}
