// -----------------------------------------------------------------------------
// This file contains all styles related to the link component.
// -----------------------------------------------------------------------------

/**
 * 
 */
 a {
    color: inherit;
    text-decoration: none;
    -webkit-user-drag: none;
  
    @include on-event {
      color: inherit;
    }
    /*
     *
     */
    &.white {
      color: $white-80;

      @include on-event {
        color: $white;
      }
    }
    /*
     *
     */
    &.yellow {
        color: $yellow-80;
        
        @include on-event {
          color: $yellow;
        }
    }
  }
